@import './_variables';

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(28, 24, 25, 0.6);

    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1040px;
    }

    &__dialog {
        position: relative;
        background: $white;
        padding: 64px 56px;
        border-radius: 16px;
    }

    &__close {
        width: 32px;
        height: 32px;
        border: none;
        background: none;
        cursor: pointer;
        position: absolute;
        transition: all 0.3s;
        right: 30px;
        top: 30px;
    }

    &__close:hover {
        transform: scale(1.1);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 0 24px;
    }
}

.x-y-centering {
    position: relative;
    width: 100%;
    height: 100%;
}

.goods-img-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.additional-img {
    width: 100%;
    max-width: 330px;

    img {
        margin-right: 8px;
    }

    img:last-child {
        margin-right: 0;
    }
}

.active-img {
    border: 1px solid $blue;
    border-radius: 8px;
}

.main-info {
    position: relative;
    margin-bottom: 24px;
}

.goods-information {
    min-width: 573px;
}

.client-points {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 196px;
    height: 68px;
    background: #f0fafd;
    border-radius: 16px;
    padding: 8px 16px;
    position: absolute;
    bottom: 0;
    right: 0;

    p {
        font-weight: 600;
        color: $black;
    }
}

.money {
    h6 {
        font-weight: normal;
        color: $grey;
        margin-bottom: 4px;
    }
}

.money-bag {
    width: 40px;
    height: 45px;
    background: url('./assets/img/money-bag.png');
    background-repeat: no-repeat;
}

.goods-title,
.points {
    font-size: 20px;
    line-height: 32px;
    color: $black;
    font-weight: normal;
}

.points {
    font-weight: 600;
    margin: 8px 0;
}

.order {
    width: 100%;
    max-width: 135px;
    height: 36px;
    background: $blue;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);

    &:hover {
        background: #4e9ef3;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: $white;
    }
}

.inner-info {
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0;
    }
}

.main-img {
    width: 100%;

    img {
        display: block;
        min-width: 330px;
        max-height: 330px;
        object-fit: cover;
    }
}

.radio-info,
.non-radio-info {
    color: $black;
    font-weight: normal;
    margin-bottom: 8px;
}

.radio-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 460px;
}

.color-container,
.size-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 114px;
    height: 40px;
    margin-right: 8px;
    margin-bottom: 8px;

    &:last-child {
        margin-right: 0;
    }

    input[type='radio'] {
        display: none;
    }

    label {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        color: $blue;
        padding: 8px;
        transition: all 0.3s;
        cursor: pointer;
        border: 1px solid rgba(28, 24, 25, 0.1);
        border-radius: 8px;
    }

    label:hover {
        background: #edf9ff;
    }

    input[type='radio']:checked + label {
        color: $black;
        border: unset;
        background: $radioChecked;
    }
}

.size-container {
    width: 40px;
    height: 40px;

    label {
        justify-content: center;
    }
}

.color {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 8px;

    &__blue {
        background: #00458a;
    }

    &__whitish {
        background: #efe8d8;
    }

    &__grey {
        background: #d4d4da;
    }
}

.details-info,
.non-radio-info {
    font-weight: 400;
    line-height: 14px;
    color: $black;
}

.non-radio-info {
    font-weight: 600;
}
